*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #050816;
}

.name{
    letter-spacing: 1px;
    font-size: 25px;
}

.name span{
    color: #9018ff;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    color: white;
    padding-bottom: 0px;
    margin-bottom: 3px;
}

nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

nav ul li a{
    color: white;
    text-decoration: none;
    padding: 2px;
    transition: 0.3s;
}

nav ul li:hover{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #9018ff;
    font-weight: bold;
}

.signup{
    background-color: #9018ff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 120px;
    transition: 0.3s;
}
.signup:hover{
    background-color: #7C3AED;
    cursor: pointer;
    font-weight: bold;
}

.intro{
    background-image: linear-gradient(rgba(0,0,0,0.1),
    rgba(0,0,0,0.1)),url(Images/Top.jpeg);
    height: 90vh;
    align-items: end;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
}
.intro-text{
    align-items: center;
    justify-content: center;
    margin: 20px;
    margin-left: 60px;
}
.intro-text h2{
    font-size: 50px;
    margin-bottom: 20px;
    line-height: 1.2;
}
.intro-text p{
    max-width: 500px;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: lightcyan;
}
.intro-text span{
    color: #9018ff;
}
.intro-text button{
    font-size: 15px;
    margin: 20px;
    width: 180px;
}



.stats-container{
    color: white;
    display: flex;
    justify-content: space-around;
    background-color: #111827;
    margin: 20px;
    padding: 30px;
    border-radius: 20px;
}

.stats-card{
    display: flex;
    align-items: center;
    gap: 15px;
    border-right: 1px solid #3f4c5e;
    padding-right: 30px;
}
.stats-card:last-child{
    border-right: none;
    padding-right: 10px;
}

.stats-icon{
    font-size: 25px;
    padding: 15px;
    border-radius: 50%;
}
.user{
    background-color: rgba(139, 92, 246, 0.15);
    color: #9018ff;
}
.goals{
    background-color: rgba(250, 204, 21, 0.15);
    color: #FACC15;
}
.productivity{
    background-color: rgba(34, 197, 94, 0.15);
    color: #22C55E;
}
.support{
    background-color: rgba(236, 72, 153, 0.15);
    color: #EC4899;
}

 .d-goals{
    color: white;
    text-align: center;
}
.d-goals p{
    margin: 10px;
}


.goals-container{
    color: white;
    display: flex;
    justify-content: center;
}
.goals-card{
    text-align: start;
    background-color: #111827;
    padding: 10px 65px 20px 7px;
    border-radius: 15px;
    margin: 20px;
    width: 260px;
}
.goals-icon{
    font-size: 35px;
    padding: 10px;
}
.study{
    color: #9018ff;
}
.workout{
    color: #22C55E;
}
.reading{
    color: #F59E0B;
}
.planning{
    color: #EC4899;
}

.goals-content h2{
    padding: 10px;
    padding-bottom: 0;
}
.goals-content p{
    padding: 10px;
    margin-bottom: 20px;
}
.goals-content a{
    padding: 10px;
}

.goals-card a{
    margin-top: 20px;
}
.explore-btn{
    text-decoration: none;
}



.d-tools{
    color: white;
    text-align: center;
    margin-top: 20px;
}
.d-tools p{
    margin: 10px;
}



.tools-container{
    color: white;
    display: flex;
    justify-content: center;
}
.tools-card{
    background-color: #111827;
    padding: 10px 65px 20px 7px;
    border-radius: 15px;
    margin: 20px;
    width: 260px;
}
.tools-icon{
    font-size: 35px;
    padding: 15px;
    border-radius: 50%;
}
.timer{
    color: #9018ff;
}
.list{
    color: #4F7DFF;
}
.notes{
    color: #4ADE80;
}
.focus{
    color: #F5A623;
}

.tools-content h2{
    white-space: nowrap;
    font-size: 25px;
    padding: 10px;
    padding-bottom: 0;
}
.tools-content p{
    padding: 10px;
    margin-bottom: 20px;
    white-space: nowrap;
}
.tools-btn{
    color: white;
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
    border: none;
    font-size: medium;
    margin-left: 10px;
}
.btimer{
    background-color: #8B5CF6;
}
.blist{
    background-color: #4F7DFF;
}
.bnotes{
    background-color: #4A8F5D;
}
.bfocus{
    background-color: #A5722A;
}

.bt-img{
   margin: 40px 40px;
   margin-top: 0px;
}
.bt-img img{
    width: 100%;
    height: 300px;
    border-radius: 20px;
    display: block;
}

.bottom{
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 15px 60px;
}
.bottom h4{
    margin-bottom: 10px;
}
.bottom ul li{
    list-style: none;
    margin-bottom: 3px;
}
.bottom ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.804);
    font-size: 13px;
}
.bottom ul li a:hover{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #9018ff;
    font-weight: bold;
}

.left-bot h3{
    margin-bottom: 10px;
}
.left-bot h3 span{
    color: #9018ff;
}
.left-bot p{
    font-size: medium;
    color: rgba(255, 255, 255, 0.804);
}

.stayconnected p{
    color: rgba(255, 255, 255, 0.804);
    margin-bottom: 10px;
}
.bottom input{
    background-color: #111827;
    padding: 7px;
    border-radius: 5px;
    border: 0.5px solid rgba(255, 255, 255, 0.804);
}
.bottom button{
    background-color: #9018ff;
    color: white;
    padding: 7px;
    border: none;
    border-radius: 5px;
    width: 90px;
    transition: 0.3s;
}

footer{
    color: rgba(255, 255, 255, 0.304);
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}